[submodule "Retoc"]
	path = Retoc
	url = https://github.com/trumank/retoc
[submodule "UAssetGUI"]
	path = UAssetGUI
	url = https://github.com/atenfyr/UAssetGUI
[submodule "UAssetAPI"]
	path = UAssetAPI
	url = https://github.com/atenfyr/UAssetAPI
[submodule "CUE4Parse"]
	path = CUE4Parse
	url = https://github.com/FabianFG/CUE4Parse
